@model EHSInventory.Models.AddToCartView

<head>
    <link rel="stylesheet" href="~/css/cart.css">
</head>
<body>
    <main>
        @if (Model.Count == 0) {
            <h1>Add @Model.ProductName (@Model.Unit) to cart</h1>
        }
        else {
            <h1>Edit @Model.ProductName (@Model.Unit) quantity in cart</h1>
        }

        <form asp-action="AddToCartPost">
        <input type="hidden" asp-for="ProductName" value="@Model.ProductName">
        <input type="hidden" asp-for="Unit" value="@Model.Unit">
        <input type="hidden" asp-for="CategoryId" value="@Model.CategoryId"/>

        <div class="field">
            <label asp-for="Count">Quantity</label><br/>
            <input asp-for="Count" value="@Model.Count"/><br/>
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>

        <div class="buttons">
            @{
                string button;
                if (Model.Count == 0) {
                button = "Add to cart";
                }
            
                else {
                    button = "Edit";
                }
            }
            <input type="submit" value="@button" class="cart-action"/>
            <a class="cancel" href="/Categories/@Model.CategoryId">Cancel</a>
        </div>
        </form>
    </main>
</body>