@model EHSInventory.Models.CategoryView

<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <nav id="sidebar">
        <ul>
            <li>
                <span class="logo">EHS Inventory</span>
            </li>
            @foreach (var category in Model.AllCategories) {
                @if (category.ProductCategoryId == Model.CurrentCategory.ProductCategoryId){
                    <li class="active">
                        <a href="/Categories/@category.ProductCategoryId">
                            <img width="24px" src="@Url.Content("~/icons/" + category.Icon)" />
                            <span>@Html.DisplayFor(modelCategory => category.Name)</span>
                        </a>
                    </li>
                }
                else{
                    <li>
                        <a href="/Categories/@category.ProductCategoryId">
                            <img width="24px" src="@Url.Content("~/icons/" + category.Icon)" />
                            <span>@Html.DisplayFor(modelCategory => category.Name)</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>
    <main>
        <h1 style="padding-bottom: 20px;">@Model.CurrentCategory.Name</h1>
        <a class="addProduct" href="/Categories/@Model.CurrentCategory.ProductCategoryId/Add">
            <img src="~/icons/Add.svg">
            <span>Add Product</span>
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Expiration Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Unit)
                    </td>
                    <td>
                        @(product.ExpirationDate?.ToString("MM/dd/yyyy"))
                    </td>
                    <td class="itemFunctions">
                        <a href="/Products/@product.ProductId">
                            <img src="~/icons/Edit.svg">
                        </a>
                        <a href="/Products/@product.ProductId/Delete">
                            <img src="~/icons/Delete.svg">
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </main>
</body>