@model EHSInventory.Models.DeleteConfirmationView

<head>
    <link rel="stylesheet" href="~/css/actions.css">
</head>
<body>
    <main>
        <div class="wrapper">
            <h1>Delete @Model.Name?</h1>
            <p>Are you sure you want to delete product @Model.Name?</p>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ProductId" value="@Model.ProductId">
                <input type="hidden" asp-for="CategoryId" value="@Model.CategoryId">
                <input type="hidden" asp-for="Name" value="@Model.Name">

                <div class="field">
                    <label asp-for="Comment">Comment</label><br/>
                    <textarea name="comment" id="comment" placeholder="Comment" asp-for="Comment"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="buttons">
                    <input type="submit" value="Delete" class="submit">
                    <a class="cancel" href="/Products/@Model.ProductId">Cancel</a>
                </div>
            </form>
        </div>
    </main>
</body>