@model EHSInventory.Models.ProductView
<head>
    <link rel="stylesheet" href="~/css/details.css">
</head>
<body>
    <header>
        <h1>
            <a href="/Categories/@Model.CategoryId">@Model.CategoryName</a> > @Model.Name</h1>
    </header>
    <main>
        <div class="wrapper">
            <div class="option-bar">
                <a class="action" href="/Products/@Model.ProductId/Edit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                    <span>Edit</span>
                </a>
                <a class="action" href="/Products/@Model.ProductId/SetQuantity">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                    <span>Set Quantity</span>
                </a>
                <a class="action" href="/Products/@Model.ProductId/Delete">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z"/></svg>
                    <span>Delete</span>
                </a>
            </div>
            <input type="hidden" asp-for="ProductId"/>

            <div class="field">
                <label for="Name">Name:</label><br/>
                <p class="value" id="Name">@Model.Name</p>
            </div>
            <div class="quantity">
                <label for="Quantity">Quantity:</label><br/>
                <p class="value" id="Quantity"/>@Model.Quantity</p>
            </div>
            <div class="unit">
                <label for="Unit">Unit:</label><br/>
                <p class="value" id="Unit"/>@Model.Unit</p>
            </div>
            <div class="field">
                <label for="GrangerNum">Grainger Number:</label><br/>
                <p class="value" id="GrangerNum"/>@Model.GrangerNum</p>
            </div>
            <div class="field">
                <label for="Description">Description:</label><br/>
                <p class="value" id="Description"/>@Model.Description</p>
            </div>
            <!--<div class="field">
                <label for="Photo">Photo:</label><br/>
                <input asp-for="Photo"/>
            </div>-->
            <div class="field">
                <label for="ExpirationDate">Expiration Date:</label><br/>
                <p class="value" id="ExpirationDate"/>@(Model.ExpirationDate?.ToString("MM/dd/yyyy"))</p>
            </div>
            <div class="buttons">
                <a class="return" href="/Categories/@Model.CategoryId">← Back</a>
            </div>
        </div>
    </main>
    <aside>
        <h2>Product History</h2>
        <table class="history-table">
            <thead>
                <tr>
                    <th>Modified On</th>
                    <th>Modified By</th>
                    <!--<th>Change Type</th>-->
                    <th>Change JSON</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var change in Model.ProductHistories){
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => change.CreatedDt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => change.CreatedBy)
                    </td>
                    <!--<td>
                        @Html.DisplayFor(modelItem => change.ChangeType)
                    </td>-->
                    <td>
                        <thead>
                            <tr>
                                <th>Field changed</th>
                                <th>Before</th>
                                <th>After</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var change_ in change.Changes)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(c => change_.FieldChanged)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(c => change_.Before)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(c => change_.After)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => change.Comment)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </aside>
</body>

